body{
    margin: 0;
    padding: 0;
}

/* header */
nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.navbar-brand {
    font-size: 1.5rem;
    padding-left: 8vw;
    padding-top: 13px;
}

.navbar-brand,
.nav-links {
    height: 100%;
    margin-right: 8vw;;
}

.nav-links ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    height: 100%;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.2rem;
}

.nav-links ul li {
    padding-top: 13px;
    text-align: center;
    height: 74%;
}

.nav-links ul li a{
    height: 100%;
}

header {
    background-color: rgb(156, 147, 147);
    color: white;
    height: 50px;
}

.nav-links ul li:hover {
    background-color: rgb(124, 116, 116);
    color: black;
    cursor: pointer;
}

.collapse {
    display: none;
    margin-top: 12px;
    height: fit-content;
    flex-direction: column;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 20%;
    padding: 2px;
    cursor: pointer;
    float: right;
}

.collapse span {
    width: 25px;
    height: 2px;
    margin: 2px;
    background-color: white;
}

.collapse:active {
    transform: scale(0.85);
    transition: transform 0.2s ease-in-out;
}

@media screen and (max-width: 600px) {
    .navbar-brand {
        font-size: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .navbar-brand {
        font-size: 1.22rem;
    }

    .nav-links ul li a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) { 
    header {
        height: 170px;
    }
    
    .navbar-brand {
        font-size: 1.22rem;
    }

    .collapse {
        display: flex;
        margin-top: 0;
    }
    
    .nav-links ul{
        display: flex;
    }

    nav {
        flex-direction: column;
    }

    .nav-links ul {
        flex-direction: column;
        margin: 0;
        padding-left: 0;
    }

    .navbar-brand {
        width: 100%;
        height: 60px;
        border-bottom: 1px solid white;
    }

    .nav-links ul li {
        background-color: rgb(124, 116, 116);
        border-bottom: 1px solid black;
    }

    .nav-links ul li:hover {
        background-color: rgb(156, 147, 147);
    }

    .nav-links.active {
        display: none;
    }

    header.active {
        height: 50px;
    }
}

/* main  */
.guideContainer {
    width: 85vw;
    margin: auto;
    margin-top: 20vh;
    color: brown;
}

/* footer */

footer {
    padding: 0;
    margin: 0;
    background-color: rgb(156, 147, 147);
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
}
footer .container .caption {
    font-size: 1.5rem;
}

footer .container .links {
    display: flex;
    gap: 1rem;
    transform: scaleX(1.1);
    padding-right: 3vw;
}