/* .gameContainer {
    display: flex;
    width: 350px;
    height: 380px;
    margin: auto;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 5px;
    margin-bottom: 2px;
    display: flex;
    cursor: pointer;
}

img {
    padding: 20px 10px 20px 10px;
    background-color: grey;
    border: 1px solid grey;
    border-radius: 25%;
}

.card:active {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out
}

.front,
.back {
    position: absolute;
}

.front {
    transform: rotateY(180deg);
}

.back {
    backface-visibility: hidden;
}

.rotate {
    transform: rotateY(180deg);
    transition: transform 0.5s ease-in-out;
}

.rotateBack {
    transform: rotateY(-180deg);
    transition: transform 0.5s ease-in-out;
} */

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.navbar-brand {
    font-size: 1.5rem;
    padding-left: 20px;
    padding-top: 13px;
}

.navbar-brand,
.nav-links {
    height: 100%;
}

.nav-links ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    height: 100%;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.2rem;
}
.nav-links ul li {
    padding-top: 13px;
    text-align: center;
    height: 100%;
}
.nav-links ul li a{
    height: 100%;
}
header {
    background-color: rgb(156, 147, 147);
    color: white;
    height: 50px;
}

.nav-links ul li:hover {
    background-color: rgb(124, 116, 116);
    color: black;
    cursor: pointer;
}

.collapse {
    display: none;
    margin-top: 12px;
    height: fit-content;
    flex-direction: column;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 20%;
    padding: 2px;
    cursor: pointer;
}

.collapse span {
    width: 25px;
    height: 2px;
    margin: 2px;
    background-color: white;
}

.collapse:active {
    transform: scale(0.85);
    transition: transform 0.2s ease-in-out;
}

@media screen and (max-width: 450px) {
    .navbar-brand {
        font-size: 1.22rem;
    }

    .nav-links ul li a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .collapse {
        display: flex;
    }
    
    .nav-links {
        display: none;
    }
}